html, body {
    height: 100%;
  }
  
  .container-fluid {
    height: 100%;
  }
  
  .row {
    height: 100%;
  }
  
  .button-box {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  }
  
  .btn {
    margin: 10px;
  }
  